
<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">

			<!-- Compiled and minified Materialize CSS -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

			<link rel="stylesheet" href="../assets/style.css" type="text/css"/>
			<title>EAT - DA - BURGER</title>
		</head>

		<body>

			<img src="./public/img/burger.png" width="400px">

			{{{ body }}}

			<footer class="burgerFooter">
				<div class="footer-copyright">
					<div class="container">
						<span> © Dan Blanco 2017 </span>
						<a class="right" href="https://github.com/paradigm1984">Reference Work</a>	
					</div>
				</div>
			</footer>
		</body>
	</html>